.footer {
    background-color: #040d12;
    margin: 20px;
    padding: 20px;
    border: #a4bc92 double 1px;
    margin: 0%;
    padding: 0%;
  
    nav ul li a {
      margin: 5px;
      padding: 5px;
      font-family: 'Roboto', sans-serif;
      color: aliceblue;
      border-radius: 10%;
    }
  
    a:hover {
      background-color: #879d76;
      color: #040d12;
      border-radius: 10%;
    }
  }
  